*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
table{
    width: 80%;
}
td{
    text-align: center;
}
th:nth-child(even){
    background-color: green;
    color: aliceblue;
}
th:nth-child(odd){
    background-color: blue;
    color: aliceblue;
}
tr:nth-child(even){
    background-color: rgb(255, 250, 241);
    border-color:wheat ;
}